* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  border: none;
  outline: none;
}

.btnfortop {
  position: fixed;
  margin-right: 20px;
  bottom: 20px;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #61a0c6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 90px;
  background-color: #3a517c;
  color: #fffff8;
  height: 90px;
  position: fixed;
  z-index: 4;
  width: 100%;
  top: 0;
}

nav h1 {
  font-size: 30px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

nav .right {
  display: flex;
  align-items: center;
  gap: 40px;
}

nav .right button {
  background-color: transparent;
  width: 120px;
  height: 50px;
  border-radius: 24px;
  border: 2px solid #61a0c6;
  color: white;
}

nav .right button:hover {
  border: 2px solid white;
  color: #61a0c6;
}

nav ul li a {
  color: #fffff8;
  text-decoration: none;
}

nav ul li a:hover {
  color: #61a0c6;
}

nav ul li a.active {
  color: #61a0c6;
}

/******************************************************                                    nav-end                                                     *************************************************** */

.hero {
  height: calc(100vh - 90px);
  margin-top: 90px;
  background-color: #3a517c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 90px;
}

.hero img {
  width: 50%;
}

.hero .left {
  color: white;
}

.hero .left h2 {
  font-size: 50px;
  width: 430px;
  margin-bottom: 20px;
}

.hero .left p {
  font-size: 18px;
  width: 400px;
  opacity: 50%;
  margin-bottom: 20px;
}

.hero .left .btn {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero .left .btn button {
  width: 120px;
  height: 40px;
  border-radius: 24px;
  background-color: transparent;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.hero .left .btn .first {
  background-color: #61a0c6;
}

/******************************************************                                    hero-end                                                     *************************************************** */

.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 170px;
  background-color: #f3f5f9;
  width: 100%;
}

.logos img {
  width: 100px;
  cursor: pointer;
}

.logos img:hover {
  transform: translateY(-20px);
  transition-duration: 1000ms;
}

.about {
  padding: 0 90px;
  margin-top: 92px;
}

.about header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #3a517c;
}

.about header h2 {
  margin-bottom: 30px;
  font-size: 50px;
}

.about header .big-line {
  margin: 0 auto;
  width: 150px;
  height: 2px;
  background-color: gray;
  opacity: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about header .mini-line {
  margin: 0 auto;
  width: 50px;
  height: 2px;
  background-color: cyan;
}

.about header .big-line :nth-child(2),
.about header .big-line :nth-child(3) {
  display: none;
}

.about .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about .left,
.about .right {
  width: 55%;
}

.about .left dt {
  margin-bottom: 20px;
  max-width: 600px;
  font-size: 14px;
}

.about .left dd {
  margin-bottom: 10px;
  max-width: 600px;
  font-size: 14px;
}

.about .right p {
  max-width: 600px;
  font-size: 16px;
  word-spacing: 3px;
  margin-bottom: 30px;
}

.about .right button {
  background-color: transparent;
  border: 1px solid turquoise;
  width: 120px;
  height: 40px;
  border-radius: 12px;
  color: turquoise;
  cursor: pointer;
}

.about .right button:hover {
  background-color: turquoise;
  color: white;
}

/******************************************************                                    about-end                                                     *************************************************** */

.why {
  padding: 0 90px;
  margin-top: 92px;
}

.why header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #3a517c;
}

.why header h2 {
  margin-bottom: 30px;
  font-size: 50px;
}

.why header .big-line {
  margin: 0 auto;
  width: 150px;
  height: 2px;
  background-color: gray;
  opacity: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.why header .mini-line {
  margin: 0 auto;
  width: 50px;
  height: 2px;
  background-color: cyan;
}

.why header .big-line :nth-child(2),
.why header .big-line :nth-child(3) {
  display: none;
}

.why .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.why .main img {
  width: 50%;
}

.why .main .left .title h2 {
  color: #3a517c;
  width: 600px;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 10px;
}

.why .main .left .title h2 span {
  font-weight: 300;
}

.why .main .left .title p {
  width: 600px;
  color: gray;
  opacity: 40px;
  margin-bottom: 30px;
}

.why .main .left .cards {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.why .main .left .cards .card {
  background-color: white;
  width: 500px;
  padding: 10px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.why .main .left .cards .card.active .top {
  color: turquoise;
}

.why .main .left .cards .card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 10px;
}

.why .main .left .cards .card .top .contnet {
  display: flex;
  align-items: center;
  gap: 40px;
}

.why .main .left .cards .card .top .contnet span {
  color: turquoise;
}

.why .main .left .cards .card .top .dir {
  transform: rotate(-90deg);
  font-size: 20px;
}

.why .main .left .cards .card .parghraf {
  font-size: 18px;
  opacity: 60%;
  color: gray;
}

/******************************************************                                    why-end                                                     *************************************************** */

.skills {
  padding: 0 90px;
  margin-top: 92px;
}

.skills header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #3a517c;
}

.skills header h2 {
  margin-bottom: 30px;
  font-size: 50px;
}

.skills header .big-line {
  margin: 0 auto;
  width: 150px;
  height: 2px;
  background-color: gray;
  opacity: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills header .mini-line {
  margin: 0 auto;
  width: 50px;
  height: 2px;
  background-color: cyan;
}

.skills header .big-line :nth-child(2),
.skills header .big-line :nth-child(3) {
  display: none;
}

.skills .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills .main img {
  width: 50%;
}

.skills .main .right .title h2 {
  color: #3a517c;
  width: 600px;
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 10px;
}

.skills .main .right .title p {
  width: 600px;
  color: gray;
  opacity: 40px;
  margin-bottom: 30px;
}

.skills .main .right .bars .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #3a517c;
}

.skills .main .right .bars .skill {
  margin-bottom: 40px;
}

.skills .main .right .bars .bar {
  width: 100%;
  height: 20px;
  background-color: gray;
}

.skills .main .right .bars .bar .mini-bar {
  width: 90%;
  height: 20px;
  background-color: #3a517c;
}

.Service {
  padding: 0 90px;
  margin-top: 92px;
}

.Service header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #3a517c;
}

.Service header h2 {
  font-size: 50px;
}

.Service header p {
  font-size: 16px;
  width: 1200px;
}

.Service header .big-line {
  margin: 30px auto;
  width: 150px;
  height: 2px;
  background-color: gray;
  opacity: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Service header .mini-line {
  margin: 0 auto;
  width: 50px;
  height: 2px;
  background-color: cyan;
}

.Service header .big-line :nth-child(2),
.Service header .big-line :nth-child(3) {
  display: none;
}

.Service .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.Service .cards .card {
  width: 400px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

.Service .cards .card i {
  color: #61a0c6;
  font-size: 40px;
  margin-bottom: 15px;
}

.Service .cards .card h3 {
  color: #3a517c;
  font-size: 35px;
  margin-bottom: 20px;
}

.Service .cards .card p {
  word-spacing: 5px;
}

.call {
  margin-top: 100px;
  background-image: url("../img/cta-bg.jpg");
  background-attachment: fixed;
  width: 100%;
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.bg {
  padding: 0 90px;
  width: 100%;
  height: 100%;
  background-color: #3a517c;
  opacity: 90%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bg h3 {
  font-size: 40px;
  margin-bottom: 20px;
}

.bg p {
  width: 1000px;

  margin-bottom: 20px;
}

.bg button {
  background: transparent;
  border-radius: 24px;
  border: 1px solid white;
  width: 180px;
  height: 50px;
  color: white;
}

.portfolio {
  padding: 0 90px;
  margin-top: 92px;
}

.portfolio header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #3a517c;
}

.portfolio header h2 {
  font-size: 50px;
}

.portfolio header p {
  font-size: 16px;
  width: 1200px;
}

.portfolio header .big-line {
  margin: 30px auto;
  width: 150px;
  height: 2px;
  background-color: gray;
  opacity: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portfolio header .mini-line {
  margin: 0 auto;
  width: 50px;
  height: 2px;
  background-color: cyan;
}

.portfolio header .big-line :nth-child(2),
.portfolio header .big-line :nth-child(3) {
  display: none;
}

.portfolio .main .filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.portfolio .main .filter p {
  cursor: pointer;
  width: 60px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  text-align: center;
  color: black;
  padding: 20px;
}

.portfolio .main .filter p:nth-child(1) {
  background-color: #61a0c6;
  color: white;
}

.portfolio .main .filter p:hover {
  background-color: #61a0c6;
  color: white;
}

.portfolio .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.portfolio .cards img {
  width: 100%;
  height: max-content;
}

.portfolio .cards .card {
  width: 100%;

  position: relative;
}

.portfolio .cards .card .isvisable {
  display: none;
  width: 100%;
  height: 100%;

  align-content: space-between;
  justify-content: end;
  flex-direction: column;
  position: absolute;
  top: 0;
  color: white;
}

.portfolio .cards .card .isvisable .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3a517c;
  opacity: 80%;
  width: 100%;
  padding: 15px 25px;
}

.portfolio .cards .card .isvisable .bottom i {
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.portfolio .cards .card .isvisable .bottom a i {
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.portfolio .cards .card:hover .isvisable {
  transition-duration: 1500ms;
  display: flex;
}

.team {
  padding: 0 90px;
  margin-top: 92px;
}

.team header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #3a517c;
}

.team header h2 {
  font-size: 50px;
}

.team header p {
  font-size: 16px;
  width: 1200px;
}

.team header .big-line {
  margin: 30px auto;
  width: 150px;
  height: 2px;
  background-color: gray;
  opacity: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team header .mini-line {
  margin: 0 auto;
  width: 50px;
  height: 2px;
  background-color: cyan;
}

.team header .big-line :nth-child(2),
.team header .big-line :nth-child(3) {
  display: none;
}

.team .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.team .cards .card {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  width: 550px;
}

.team .cards .card img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.team .cards .card .container .top h2 {
  color: #3a517c;
  margin-bottom: 5px;
}

.team .cards .card .container .top p {
  border-bottom: 1px solid #619fc65e;
  width: 20%;
  margin-bottom: 20px;
  padding: 10px 0;
}

.team .cards .card .container .bottom p {
  width: 100%;
  margin-bottom: 20px;
}

.team .cards .card .container .bottom .imgs {
  display: flex;
  align-items: center;
  gap: 20px;
}

.team .cards .card .container .bottom .imgs i {
  width: 40px;
  height: 40px;
  background-color: rgba(128, 128, 128, 0.164);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3a517c;
}

.pricing {
  padding: 0 90px;
  margin-top: 92px;
}

.pricing header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #3a517c;
}

.pricing header h2 {
  font-size: 50px;
}

.pricing header p {
  font-size: 16px;
  width: 1200px;
}

.pricing header .big-line {
  margin: 30px auto;
  width: 150px;
  height: 2px;
  background-color: gray;
  opacity: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pricing header .mini-line {
  margin: 0 auto;
  width: 50px;
  height: 2px;
  background-color: cyan;
}

.pricing header .big-line :nth-child(2),
.pricing header .big-line :nth-child(3) {
  display: none;
}

.pricing .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pricing .cards .card {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  padding: 40px;
  width: 350px;
}

.pricing .cards .card h2 {
  color: #3a517c;
  margin-bottom: 20px;
}

.pricing .cards .card .top p {
  color: #3a517c;
  font-size: 60px;
}

.pricing .cards .card .top sup {
  font-size: 40px;
}

.pricing .cards .card .top p:last-child {
  color: #61a0c6;
  font-size: 20px;
  margin-bottom: 50px;
}

.pricing .cards .card ul {
  list-style: none;
  margin-bottom: 50px;
}

.pricing .cards .card ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pricing .cards .card ul li img {
  width: 40px;
}

.pricing .cards .card button {
  width: 120px;
  height: 60px;
  border-radius: 20px;
  color: white;
  background-color: #61a0c6;
}

.freequently {
  padding: 0 90px;
  margin-top: 92px;
}

.freequently header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #3a517c;
}

.freequently header h2 {
  font-size: 50px;
}

.freequently header p {
  font-size: 16px;
  width: 1200px;
}

.freequently header .big-line {
  margin: 30px auto;
  width: 150px;
  height: 2px;
  background-color: gray;
  opacity: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.freequently header .mini-line {
  margin: 0 auto;
  width: 50px;
  height: 2px;
  background-color: cyan;
}

.freequently header .big-line :nth-child(2),
.freequently header .big-line :nth-child(3) {
  display: none;
}

.freequently .cards .card {
  background-color: white;
  margin-bottom: 50px;
  padding: 10px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.freequently .cards .card.active .top {
  color: turquoise;
}

.freequently .cards .card.active .top .dir {
  transform: rotate(90deg);
}

.freequently .cards .card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 10px;
}

.freequently .cards .card .top .contnet {
  display: flex;
  align-items: center;
  gap: 40px;
}

.freequently .cards .card .top .contnet span {
  color: turquoise;
}

.freequently .cards .card .top .dir {
  transform: rotate(-90deg);
  font-size: 20px;
}

.freequently .cards .card .parghraf {
  font-size: 18px;
  opacity: 60%;

}


.contact {
  padding: 0 90px;
  margin-top: 92px;
}

.contact header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #3a517c;
}

.contact header h2 {
  margin-bottom: 30px;
  font-size: 50px;
}

.contact header .big-line {
  margin: 0 auto;
  width: 150px;
  height: 2px;
  background-color: gray;
  opacity: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact header .mini-line {
  margin: 0 auto;
  width: 50px;
  height: 2px;
  background-color: cyan;
}

.contact header .big-line :nth-child(2),
.contact header .big-line :nth-child(3) {
  display: none;
}

.contact .left {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

.contact .main {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

.contact .left .cards .card {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact .left .cards .card {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;

}

.contact .left .cards .card i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.168);
  color: #61a0c6;

}

.contact form {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 40px;

}

.contact form input {
  width: 250px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid black;
  padding: 12px;
}

.contact form .thered input {
  width: 600px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid black;
}

.contact form textarea {
  width: 600px;
  height: 150px;
  border-radius: 12px;
  border: 1px solid black;
  padding: 12px;
}

.contact form button {
  width: 120px;
  height: 60px;
  border-radius: 20px;
  color: white;
  background-color: #61a0c6;
}


.join {

  margin-top: 92px;
  width: 100%;
}

.join header {
  padding: 90px 0px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #3a517c;
  background: #f3f5f9;

}

.join header h2 {
  margin-bottom: 30px;
  font-size: 50px;
}

.join header p {
  margin-bottom: 30px;
}

.join form .input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #3a517c;
  border-radius: 12px;
  height: 60px;
  width: 600px;
  position: relative;
}

.join form .input input {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #3a517c68;
}

.join form .input button {
  height: 100%;
  width: 130px;
  background: #61a0c6;
  color: white;
  border-radius: 12px;
  position: absolute;
  z-index: 1;
  right: 0;
}


footer .content {
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  
  gap: 60px;
  padding-block: 35px;
  border-bottom: 1px solid #22222238;
  flex-wrap: wrap;
}

footer .container .col-1 {
  max-width: 351px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

footer .container .col-1 p {
  font-size: 16px;
  color: #222;
  opacity: 0.5;
  line-height: 26px;
}

footer .container .col h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

footer .container .col ul {
  font-size: 16px;
  color: #222;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}

footer .container .col .social-icons {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

footer .container .col .social-icons div {
  background-color: #025595;
  color: #fff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

footer .content2 {
  padding: 24px;
  background-color: #025595;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  gap: 24px;
}

footer .content2 a,
footer .content2 p {
  font-size: 14px;
  color: white;
}

footer .content2 .links {
  display: flex;
  gap: 30px;
}